<!-- components/navigation/navigation.html -->
<nav class="navbar">
    <div class="navbar-container">
      <a href="#" class="navbar-logo">Gurjar Art & Cultural Trust</a>
      <ul class="navbar-menu">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#events">Events</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <div class="hamburger-menu" id="hamburger-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </nav>
  
  <div class="full-screen-menu" id="full-screen-menu">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#events">Events</a></li>
      <li><a href="#founders">Founders</a></li>
      <li><a href="#gallery">Gallery</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>