<section id="contact" class="contact-section">
    <div class="contact-container">
        <div class="contact-info">
            <div class="logo-container">
                <img src="https://github.com/Aryansin1234/ImageVideo/blob/main/GURJAR-ARTS-AND-CULTUR-LOGO-RED-1.png?raw=true" alt="Gurjar Art and Cultural Trust Logo" class="logo-animation">
            </div>
            <h2 class="animate-text">Connect With Us</h2>
            <p class="animate-text">Discover our rich cultural heritage and reach out to us!</p>
            <a href="mailto:info@gurjararttrust.org" class="contact-email animate-text">info@gurjararttrust.org</a>
            <div class="social-links">
                <a href="#" class="social-icon" data-tooltip="LinkedIn"><i class="fab fa-linkedin"></i></a>
                <a href="#" class="social-icon" data-tooltip="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social-icon" data-tooltip="Facebook"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social-icon" data-tooltip="YouTube"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="youtube-showcase">
            <h3 class="animate-text">Our YouTube Channel</h3>
            <div class="youtube-video">
                <iframe src="https://www.youtube.com/embed/VIDEO_ID?autoplay=1&mute=1&loop=1&playlist=VIDEO_ID" frameborder="0" allowfullscreen></iframe>
            </div>
            <a href="https://www.youtube.com/YOUR_CHANNEL" target="_blank" class="youtube-channel-link animate-button">Subscribe to Our Channel</a>
        </div>
    </div>
    <div class="background-animation"></div>
</section>