<section id="sponsors" class="py-20 bg-gradient-to-r from-gray-100 to-white overflow-hidden">
    <div class="container mx-auto px-4">
        <h2 class="text-4xl md:text-5xl font-bold text-center mb-12 text-primary-color">Our Sponsors</h2>
        
        <div class="sponsors-container">
            <div class="sponsors-track">
                <!-- Replace each sponsor-item div with an anchor tag -->
                <a href="https://www.instagram.com/google/" class="sponsor-item" target="_blank">
                    <img src="assets/google.png" alt="Google" class="sponsor-image">
                </a>
                <a href="https://envato.com" class="sponsor-item" target="_blank">
                    <img src="assets/envato.png" alt="Envato" class="sponsor-image">
                </a>
                <a href="https://www.instagram.com/17heritage/profilecard/?igsh=eGZ4bGlkd2RodXVo" class="sponsor-item" target="_blank">
                    <img src="assets/17heritage.png" alt="Google" class="sponsor-image">
                </a>
                <a href="https://www.instagram.com/squatfireofficial?igsh=b29kd2RiamJudnl0" class="sponsor-item" target="_blank">
                    <img src="assets/SF.png" alt="Envato" class="sponsor-image">
                </a>
                <a href="https://www.parashospitals.com/" class="sponsor-item" target="_blank">
                    <img src="assets/Parashealth.jpg" alt="Envato" class="sponsor-image">
                </a>
                <a href="https://www.facebook.com/SSRPRISM" class="sponsor-item" target="_blank">
                    <img src="assets/SSR.jpg" alt="Envato" class="sponsor-image">
                </a>                
                <a href="https://www.parasdairy.com/" class="sponsor-item" target="_blank">
                    <img src="assets/paras.jpg" alt="Envato" class="sponsor-image">
                </a>     
                <a href="https://dhanshrifoods.com/" class="sponsor-item" target="_blank">
                    <img src="assets/Dhanshri.jpeg" alt="Envato" class="sponsor-image">
                </a>     
                <a href="https://www.instagram.com/google/" class="sponsor-item" target="_blank">
                    <img src="assets/google.png" alt="Google" class="sponsor-image">
                </a>
                <a href="https://envato.com" class="sponsor-item" target="_blank">
                    <img src="assets/envato.png" alt="Envato" class="sponsor-image">
                </a>
                <a href="https://www.instagram.com/17heritage/profilecard/?igsh=eGZ4bGlkd2RodXVo" class="sponsor-item" target="_blank">
                    <img src="assets/17heritage.png" alt="Google" class="sponsor-image">
                </a>
                <a href="https://www.instagram.com/squatfireofficial?igsh=b29kd2RiamJudnl0" class="sponsor-item" target="_blank">
                    <img src="assets/SF.png" alt="Envato" class="sponsor-image">
                </a>
                <a href="https://www.parashospitals.com/" class="sponsor-item" target="_blank">
                    <img src="assets/Parashealth.jpg" alt="Envato" class="sponsor-image">
                </a>
                <a href="https://www.facebook.com/SSRPRISM" class="sponsor-item" target="_blank">
                    <img src="assets/SSR.jpg" alt="Envato" class="sponsor-image">
                </a>                
                <a href="https://www.parasdairy.com/" class="sponsor-item" target="_blank">
                    <img src="assets/paras.jpg" alt="Envato" class="sponsor-image">
                </a>
                <a href="https://dhanshrifoods.com/" class="sponsor-item" target="_blank">
                    <img src="assets/Dhanshri.jpeg" alt="Envato" class="sponsor-image">
                </a>      
            </div>
        </div>
    </div>
</section>
